*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins, sans-serif';
}

body{
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(47, 58, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color:white;
    text-decoration: none;
    font-weight: 500;
    cursor: default;
    opacity: 0;
    animation: slideRight is ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: rgb(7, 189, 234);
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background: url(Images/1.jpeg) no-repeat; */
    background: black;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}
.home-content h3 span{
    color: rgb(7, 189, 234);
}

.home-content h1{
    font-size: 50gpx;
    font-weight: 700;
    margin: -3px ;
}

.home-socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(7, 189, 234);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(7, 189, 234);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-socials a:hover{
    background: rgb(7, 189, 234);
    color: black;
}